<!DOCTYPE html>
<html lang="ja">
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  
  
<body>
  <!--<h1 class="contents">ホーム</h1>-->
  <% if current_user.nil? %>
      <h1>ログインしていません</h1>
  <% else %>
      <!--<h1><%= current_user.name %>のDONE</h1>-->
      
      <form action="/want/new">
        <input type="submit" value="+ Want" class="button">
      </form>
      
      <br>
      
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link link-secondary" aria-current="page" href="/user/<%= current_user.id %>">My WANT</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/user/<%= current_user.id %>/done">DONE</a>
        </li>
      </ul>
      
      <div>
      <% @wants.each do |want| %>
        <% user = User.find(want.user_id) %><!-- Wantを作成したユーザーを取得 -->
        <% if user.id == current_user.id %>
          <% if want.done== true  %>
            
            <div class="posts">
              <div class="contents">
                
                <!--チェックボックス-->
                <div class="d-flex flex-column align-items-start justify-content-center">
                  <div class="radioArea">
                    <a align="center" href="#" class="want-done-checkbox" data-want-id="<%= want.id %>">
                      <input type="checkbox" <%= "checked" if want.done %>> <!-- チェックボックスの状態を want.done に応じて設定 -->
                    </a>
                  </div>
                </div>

                <!--投稿の中身-->
                <div class="d-flex flex-column align-items-start">
                  <div class="p-2"><img src="<%= user.img %>" alt="ユーザーアイコン" class="icon"></div>
                  <div class="p-2"><p><%= user.name %></p></div>
                </div>
                
                
                  <div class="text">
                    <div class="want-contents">
                      <div class="d-flex flex-column align-items-start">
                        <div class="p-2">
                          <div class="title">
                            <span class="user-name"><%= want.title %></span>
                          </div>
                        </div>
                        <div class="p-2">
                          <p><%= want.place %></p>
                        </div>
                        <div class="p-2">
                          <div class="date-container">
                            <% if want.start_date.present? && want.end_date.present? %>
                              <div class="d-flex align-items-start" style="height:50px;">
                                <div class="p-2"><%= want.start_date %></div>
                                <div class="p-2">~</div>
                                <div class="p-2"><%= want.end_date %></div>
                              </div>
                            <% else %>
                              <!--<p>日付情報がありません</p>-->
                            <% end %>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

              </div>
            </div>
            <% end %>
          <% end %>
      <% end %>
  <% end %>
  </div>
     
      
      
      
  
</body>

<script>
    $(document).ready(function() {
        $(".want-done-checkbox").on("change", function() {
            var wantId = $(this).data("want-id");
            var isChecked = $(this).find("input[type='checkbox']").prop("checked");

            // Ajaxリクエストを送信
            $.ajax({
                type: "GET",
                url: "/want/done/" + wantId,
                data: { isChecked: isChecked },
                success: function(response) {
                    // 成功時の処理（必要に応じて）
                },
                error: function() {
                    // エラー時の処理（必要に応じて）
                }
            });
        });
    });
</script>
</html>
