<!DOCTYPE html>
<html lang="ja">
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  
  
<body>
  <!--<h1 class="contents">ホーム</h1>-->
  <% if current_user.nil? %>
      <h1>ログインしていません</h1>
  <% else %>
      <h1><%= current_user.name %>のDONE</h1>
      
      <form action="/want/new">
        <input type="submit" value="+ Want" class="button">
      </form>
      
      <br>
      
      <div class="parallel-even-distribution">
        <form action="/user/<%= current_user.id %>">
          <input type="submit" value="My WANT" class="done_button">
        </form>
        
        <form action="/user/<%= current_user.id %>/done">
          <input type="submit" value="DONE" class="done_button">
        </form>
      </div>
      
      <div>
      <% @wants.each do |want| %>
        <% user = User.find(want.user_id) %><!-- Wantを作成したユーザーを取得 -->
        <% if user.id == current_user.id %>
          <% if want.done== true  %>
            
            <div class="post">
              <div class="contents">
                
                <!--チェックボックス-->
                <div class="radioArea">
                  <a align="center" href="#" class="want-done-checkbox" data-want-id="<%= want.id %>">
                    <input type="checkbox" <%= "checked" if want.done %>> <!-- チェックボックスの状態を want.done に応じて設定 -->
                  </a>
                </div>

                <!--投稿の中身-->
                  <img src="<%= user.img %>" alt="ユーザーアイコン" class="icon">
                  <p><%= user.name %></p>
                  <div class="text">
                    <div class="title">
                      <span class="user-name"><%= want.title %></span>
                    </div>
                  </div>

              </div>
            </div>
            <% end %>
          <% end %>
      <% end %>
  <% end %>
  </div>
     
      
      
      
  
</body>

<script>
    $(document).ready(function() {
        $(".want-done-checkbox").on("change", function() {
            var wantId = $(this).data("want-id");
            var isChecked = $(this).find("input[type='checkbox']").prop("checked");

            // Ajaxリクエストを送信
            $.ajax({
                type: "GET",
                url: "/want/done/" + wantId,
                data: { isChecked: isChecked },
                success: function(response) {
                    // 成功時の処理（必要に応じて）
                },
                error: function() {
                    // エラー時の処理（必要に応じて）
                }
            });
        });
    });
</script>
</html>
