<div class="header">
  <h1 class="contents">投稿の編集</h1>
</div>
<form action="/want/edit/<%= @want.id %>" method="post" class="contents">
  
  <div>
    <label for="">タイトル</label>
    <input type="text" name="title" value="<%= @want.title %>">
  </div>
  
  <div>
    <label for="">ジャンル</label>
    <select name="genre_id" id="grade">
			<option value="1">映画</option>
			<option value="2">展覧会</option>
			<option value="3">体験</option>
			<option value="4">ご飯</option>
			<option value="5">テーマパーク</option>
			<option value="6">その他</option>
		</select>
    <!--<input type="text" name="genre_id" value="<%= @want.genre_id %>">-->
  </div>
  
  <div>
    <label for="">場所</label>
    <input type="text" name="place" value="<%= @want.place %>">
  </div>
  
  <!--<div>-->
  <!--  <label for="">期間</label>-->
  <!--  <input type="text" name="date">-->
  <!--</div>-->
  
  <div>
    <label for="">投稿グループ</label>
    <input type="text" name="post_group_id" value="<%= @want.group_id %>">
  </div>
  
  
  <input type="submit" value="保存">
</form>